.carousel {
  display: flex;
  cursor: grab;
}
.inner-carousel {
  display: flex;
  justify-content: center;
  background-color: skyblue;
  height: 100%;
  align-items: flex-end;
}

.item { 
  width: 16%;
  height: 250px;
  padding: 0 5px;
}
